@using EntityLaayer.Concrete
@model List<Cars>



@{
    ViewBag.Title = "Satyaprakash Bhubaneswar Google Map";
}

<title>@ViewBag.Title</title>

<h2 style="background-color: Yellow;color: Blue; text-align: center; font-style: oblique">HARITA</h2>
<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:400px;width:100%;"></div>

    <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(39.925533, 32.866287);
                var mapProp = { center: myCenter, zoom: 12, scrollwheel: false, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);



        @foreach (var item in Model)
        {

            // @: var marker = new google.maps.Marker({ position: myCenter });
              @: var marker = new google.maps.Marker({ position: { lat:@item.lat,lng:@item.lng},map:map,title:"x"});

            }
           // marker.setMap(map);


        }
    </script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAZ2v5zznQfvMgnPDc4J8RQObjmOGE250&callback=myMap"></script>  -->
</fieldset>
<footer>
    <p style="background-color: Yellow; font-weight: bold; color:blue; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>
<p align="right"><button> giriş yap </button></p>
