@using EntityLaayer.Concrete
@model List<Cars>
@{
    ViewBag.Title = "getListCustomerCar";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<title>Araç 1</title>


<h2 style="background-color: Yellow;color: Blue; text-align: center; font-style: oblique">HARITA</h2>
<fieldset>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div id="googleMap" style="height:500px;width:100%;"></div>

    <script>
            function myMap() {
                var myCenter = new google.maps.LatLng(59.284073, 11.109403);
                var mapProp = { center: myCenter, zoom: 12, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
                

        @foreach (var item in Model)
        {
            if (@item.id == "1")
            {
                 @: var marker = new google.maps.Marker({ position: { lat:@item.lat, lng:@item.lng}, map: map, title: "x", icon: iconBase + 'parking_lot_maps.png'});

            }
            else if(@item.id =="2")
            {
                @: var marker = new google.maps.Marker({ position: { lat:@item.lat,lng:@item.lng},map:map,title:"x"});
            } else if(@item.id =="3")
            {
                @: var marker = new google.maps.Marker({ position: { lat:@item.lat,lng:@item.lng},map:map,title:"x"});
            } else
            {
                @: var marker = new google.maps.Marker({ position: { lat:@item.lat,lng:@item.lng},map:map,title:"x",icon: iconBase + 'parking_lot_maps.png'});
            }

            // @: var marker = new google.maps.Marker({ position: myCenter });

            }
           // marker.setMap(map);


        }
    </script>

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAZ2v5zznQfvMgnPDc4J8RQObjmOGE250&callback=myMap"></script>
</fieldset>
<footer>
    <p style="background-color: Yellow; font-weight: bold; color:blue; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer>
<form class="form-group " method="post">

    <input type="text" placeholder="Başlangıç tarihini girin" name="year" class="form-control" />
    <br />
    <input type="text" placeholder="Bitiş tarihini girin" name="yearson" class="form-control" />
    <br />
    <button class="btn btn-primary"> Konum Öğren </button>


</form>